@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 500;
}
a {
	text-decoration: none;
	color: #000;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1560px;
	margin: 0 auto;
	font-family: 'Montserrat';
}
.header {
	color: #fff;
	background-color: #050f58;
}

.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.header__logo {
	display: flex;
	align-items: center;
}
.header__logo-img {
}
.header__logo-name {
	font-size: 32px;
	margin-left: 45px;
	text-transform: uppercase;
}
.header__menu {
	display: flex;
	gap: 56px;
	font-size: 18px;
	align-items: center;
}
.header__menu-item > a {
	color: #fff;
}
.header__profile {
}
.main {
}
.main__hero {
	margin: 155px 0;
	display: flex;
	justify-content: space-between;
	gap: 100px;
	align-items: center;
}
.main__hero-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.main__hero-title {
	font-size: 48px;
	font-weight: 500;
}
.main__hero-button {
	width: 170px;
	margin: 0 auto;
	color: #fff;
	background-color: #050f58;
	border-radius: 37px;
	padding: 16px 24px;
}
.main__live {
	margin-bottom: 155px;
}
.main__live-title {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 90px;
}
.main__live-text {
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 35px;
}
.main__live-filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main__live-filters-item {
}
.main__live-filters-title {
	font-size: 22px;
}
.main__live-filters-input {
	padding: 15px 30px;
	background-color: #ddd;
	border-radius: 20px;
}
.main__live-filters-button {
	width: 160px;
	color: #fff;
	background-color: #050f58;
	border-radius: 20px;
	padding: 19px 25px;
	text-align: center;
}
.main__live-subfilter {
	margin-top: 25px;
	margin-bottom: 50px;
	text-align: right;
	font-weight: bold;
}
.main__life-cards {
	margin: 0 100px;
	display: flex;
	justify-content: space-between;
	gap: 118px;
}
.main__life-card {
}
.main__life-card-price {
	margin: 34px 0 50px 0;
	font-size: 32px;
	font-weight: 500;
}
.main__life-card-button {
	width: 160px;
	color: #fff;
	background-color: #050f58;
	border-radius: 20px;
	padding: 19px 25px;
	text-align: center;
}
.main__questions {
	margin-bottom: 350px;
}
.main__questions-title {
	font-size: 40px;
}
.main__questions-content {
	margin-top: 80px;
	display: flex;
	text-align: center;
	justify-content: space-between;
	gap: 270px;
}
.main__questions-item {
}
.main__questions-item-title {
	font-size: 32px;
}
.main__questions-item-text {
	margin-top: 30px;
	font-size: 20px;
}
.main__questions-button {
	display: block;
	background-color: #050f58;
	border-radius: 37px;
	margin: 80px auto 0;
	width: 200px;
	padding: 24px 30px;
	color: #fff;
	text-align: center;
}
.main__sub {
	text-align: center;
	margin-bottom: 190px;
}
.main__text-up {
	font-size: 24px;
}
.main__text-down {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 40px;
}
.main__sub-button {
	background: #050f58;
	border-radius: 20px;
	text-align: center;
	color: #fff;
	padding: 25px 22px;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #050f58;
	margin-bottom: 42px;
	border-radius: 40px;
	color: #fff;
	padding: 50px 136px;
}
.footer__info {
}
.footer__info-logo {
	display: flex;
	align-items: center;
}
.footer__info-title {
	margin-left: 40px;
	font-size: 32px;
	text-transform: uppercase;
}
.footer__info-text {
	margin-top: 20px;
}
.footer__menu {
}
.footer__menu-list {
	display: flex;
	flex-direction: column;
	gap: 28px;
}
.footer__menu-item {
	font-size: 25px;
}

.footer__socials-title {
	font-size: 25px;
	margin-bottom: 30px;
}
.footer__socials-images {
	display: flex;
	justify-content: space-between;
	gap: 35px;
}

.footer__socials-images > img {
	height: 60px;
}

.main__about {
	margin-top: 50px;
	margin-bottom: 80px;
}
.main__about-title {
	font-size: 40px;
}
.main__about-img {
	margin: 0 auto;
	display: flex;
}
.main__about-text {
	margin-top: 55px;
	margin-bottom: 70px;
	font-size: 22px;
	text-align: center;
}
.main__about-partners {
}
.main__about-partners-title {
	font-size: 36px;
	margin-bottom: 80px;
}
.main__about-partners-images {
	display: flex;
	justify-content: center;
	gap: 150px;
}

.main__hire {
	margin-bottom: 75px;
}
.main__hire-title {
	margin-top: 50px;
	font-size: 40px;
	margin-left: 120px;
	margin-bottom: 60px;
}
.main__hire-cards {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 100px;
}
.main__hire-card {
	width: calc(50% - 200px);
}
.main__hire-card-title {
	display: inline;
	font-size: 32px;
}
.main__hire-card-img {
	max-width: 500px;
	position: relative;
}
.main__hire-card-button {
	position: absolute;
	bottom: 20px;
	right: 50%;
	transform: translateX(50%);
	background-color: #050f58;
	border-radius: 20px;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}
